# Простые типы данных

In [1]:
my_integer = 10
type(my_integer)

int

In [2]:
my_float = 5.5
type(my_float)

float

In [3]:
my_string = 'Hello World!'
my_string_2 = "Hello World"
type(my_string)

str

In [4]:
# my_bool = True
my_bool = False
my_bool

False

In [5]:
x = 5
y = 1
print(x > y)

True

In [6]:
# преобразование типов
salary = 1000
print('Ваша годовая зарплата составляет ', salary, ' условных единиц')

Ваша годовая зарплата составляет  1000  условных единиц

In [7]:
print('Ваша годовая зарплата составляет ' + salary + ' условных единиц')

TypeError: can only concatenate str (not "int") to str

In [8]:
# неявное преобразование типов
# print(20 / 5.1)
print(1 + True)

2

## Строки

In [9]:
'Hi, ' + 'Galina'

'Hi, Galina'

In [10]:
my_string.upper()

'HELLO WORLD!'

In [11]:
my_string.lower()

'hello world!'

In [12]:
my_string.capitalize()

'Hello world!'

In [13]:
my_string.replace('Hello', 'Goodbye')

'Goodbye World!'

In [14]:
len(my_string)

12

## f-строки

In [15]:
name = 'galina'
lang = 'python'
t = f"Hello, {name.capitalize()}, i know {lang} a bit"
print(t)
print(type(t))

Hello, Galina, i know python a bit
<class 'str'>

## Индексация и срезы

In [16]:
my_string = 'Hello World'

In [17]:
my_string[2]

'l'

In [18]:
my_string[-4]

'o'

In [19]:
my_string[0:5]

'Hello'

In [20]:
my_string = 'Hello World'
my_string[0:8:2]

'HloW'

In [21]:
my_string[6:]

'World'

In [22]:
my_string[:5]

'Hello'

## Упражнение
Выделите только из даты следующего формата

In [23]:
date = '2019-08-27T23:59:00.932'

In [24]:
date[:10]

'2019-08-27'

## Проверка на вхождение элемента в объект

In [25]:
my_string = 'Hello World'
target_string = 'World'
if target_string in my_string:
    print('find!')

find!

# Списки

In [26]:
month_list = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']
income_list = [13000, 14000, 14300, 15000, 13800, 13000, 14900, 15200, 15300]
income_by_months = [['Jan', 13000], ['Feb', 14000], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]

In [27]:
print(type(month_list))
print(type(income_list))
print(type(income_by_months))

<class 'list'>
<class 'list'>
<class 'list'>

In [28]:
# индексация элементов в списке
print(month_list[0])
print(month_list[-1])
print(income_by_months[-4])

Jan
Sep
['Jun', 13000]

In [29]:
# срезы
print(income_by_months[0:2])
print('--------------')
print(income_by_months[-8:-6])
print('--------------')
print(income_by_months[2:])
print('--------------')
print(income_by_months[:3])

[['Jan', 13000], ['Feb', 14000]]
--------------
[['Feb', 14000], ['Mar', 14300]]
--------------
[['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]
--------------
[['Jan', 13000], ['Feb', 14000], ['Mar', 14300]]

In [30]:
# можно обращаться к любому уровню вложенности
income_by_months = [['Jan', 13000], ['Feb', 14000], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]
income_by_months[3][1]

15000

In [31]:
# изменение списков
income_by_months[5][1] += 5000
print(income_by_months)

[['Jan', 13000], ['Feb', 14000], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 18000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]

In [32]:
income_by_months[0:2] = [['Jan', 13200], ['Feb', 13900]]
print(income_by_months)

[['Jan', 13200], ['Feb', 13900], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 18000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]

In [33]:
income_by_months_2 = [['Nov', 15400], ['Dec', 17000]]
income_by_month = income_by_months + income_by_months_2
print(income_by_month)

[['Jan', 13200], ['Feb', 13900], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 18000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300], ['Nov', 15400], ['Dec', 17000]]

## Распаковка списков

In [34]:
first, second, third = ['первый', 'второй', 'третий']
first

'первый'

In [35]:
# когда число элементов неизвестно
first, *_ = ['первый', 'второй', 'третий']
first, other

NameError: name 'other' is not defined

In [36]:
first, *other, last =  ['первый', 'второй', 'третий', 'четвертый']

In [37]:
first, last

('первый', 'четвертый')

## Операции со списками

In [38]:
income_by_months

[['Jan', 13200],
 ['Feb', 13900],
 ['Mar', 14300],
 ['Apr', 15000],
 ['May', 13800],
 ['Jun', 18000],
 ['Jul', 14900],
 ['Aug', 15200],
 ['Sep', 15300]]

In [39]:
# Удаляем элемент по индексу
del(income_by_months[-1])
income_by_months

[['Jan', 13200],
 ['Feb', 13900],
 ['Mar', 14300],
 ['Apr', 15000],
 ['May', 13800],
 ['Jun', 18000],
 ['Jul', 14900],
 ['Aug', 15200]]

In [40]:
# удаляем элемент по значению
month_list.remove('Sep')
print(month_list)

['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug']

In [41]:
# добавляем элемент в конец списка
income_by_months.append(['Dec', 17000])
income_by_months

[['Jan', 13200],
 ['Feb', 13900],
 ['Mar', 14300],
 ['Apr', 15000],
 ['May', 13800],
 ['Jun', 18000],
 ['Jul', 14900],
 ['Aug', 15200],
 ['Dec', 17000]]

In [42]:
# добавляем элемент по нужному индексу
income_list.insert(2, 1111111)
print(income_list)

[13000, 14000, 1111111, 14300, 15000, 13800, 13000, 14900, 15200, 15300]

In [43]:
# считаем количество вхождений элемента в список
income_list.count(13000)

2

In [44]:
# узнаем индекс элемента в списка (только первое вхождение!)
income_list.index(13000)
# income_list.index(13000, 1)

0

In [45]:
# разворачиваем список
month_list.reverse()
month_list

['Aug', 'Jul', 'Jun', 'May', 'Apr', 'Mar', 'Feb', 'Jan']

In [46]:
# узнаем длину списка
len(income_list)

10

In [47]:
# сумма элементов
sum(income_list)

1239611

In [48]:
# максимальный элемент элементов
max(income_list)

1111111

In [49]:
# минимальный элемент элементов
min(income_list)

13000

In [50]:
# сортировка по возрастанию
sorted(income_list)

[13000, 13000, 13800, 14000, 14300, 14900, 15000, 15200, 15300, 1111111]

In [51]:
# изменить порядок сортировки
sorted(income_list, reverse= True)

[1111111, 15300, 15200, 15000, 14900, 14300, 14000, 13800, 13000, 13000]

In [52]:
# а это сортировка строк по алфавиту
sorted(month_list)

['Apr', 'Aug', 'Feb', 'Jan', 'Jul', 'Jun', 'Mar', 'May']

## Изменение списков

В примере ниже переменная a и b на самом деле указывают на один и тот же объект. В результате, при добавлении в b очередного элемента этот элемент добавляется и в исходном листе a

In [53]:
a = [1, 2, 3]
b = a

In [54]:
b.append(4)
'a = {}'.format(a)

'a = [1, 2, 3, 4]'

In [55]:
id(a), id(b)

(140713613781568, 140713613781568)

In [56]:
# создаем копию объекта
a = [1, 2, 3]
b = list(a)
b.append(4)
print(a)
print(b)
id(a), id(b)

[1, 2, 3]
[1, 2, 3, 4]

(140713613889088, 140713613898240)

Используем модуль copy

In [57]:
import copy

In [58]:
a = [1, 2, 3]
b = copy.copy(a)

In [59]:
id(a), id(b)

(140713613888704, 140713613885696)

In [60]:
b.append(4)
print('a = {}'.format(a))

print('b = {}'.format(b))

a = [1, 2, 3]
b = [1, 2, 3, 4]

## Списки и строки

In [61]:
queries_string = "смотреть сериалы онлайн,новости спорта,афиша кино,курс доллара,сериалы этим летом,курс по питону,сериалы про спорт"

In [62]:
# преобразование строки в список (например, из CSV-файла)
queries_string.split(' ')

['смотреть',
 'сериалы',
 'онлайн,новости',
 'спорта,афиша',
 'кино,курс',
 'доллара,сериалы',
 'этим',
 'летом,курс',
 'по',
 'питону,сериалы',
 'про',
 'спорт']

In [63]:
# Преобразование списка в строку

','.join(['Столбец 1', 'Столбец 2', 'Столбец 3'])

'Столбец 1,Столбец 2,Столбец 3'

In [64]:
# проверка вхождения элемента в список:

# 'Москва' in ['Ленинград', 'Одесса', 'Севастополь', 'Москва']
'Москва' not in ['Ленинград', 'Одесса', 'Севастополь', 'Москва']

False

# Tuple (кортежы)

In [65]:
salary_tuple = (1000, 1200, 1300, 900, 800)
type(salary_tuple)
type(list(salary_tuple))

list

In [66]:
# print(salary_tuple[0])
salary_tuple[0] = 500

TypeError: 'tuple' object does not support item assignment

In [67]:
# кортеж из одного элемента задается так:
t = ('one', )

In [68]:
# без запятой получится строка
type( ('one') )

str

In [69]:
# функция zip
salaries = set([1000, 1200, 1300, 900, 800, 1000])
names = set(['Robert', 'Jane', 'Liza', 'Richard', 'John'])
salaries_by_names = zip(names, salaries)
# print(salaries_by_names)
print(list(salaries_by_names))

[('Jane', 800), ('Richard', 900), ('Robert', 1000), ('John', 1200), ('Liza', 1300)]

# Циклы

## Цикл while

In [70]:
x = 5
while x != 0:
#     x = x / 1
    x -= 1
    print(x)

4
3
2
1
0

In [71]:
x = 7
while x != 0:
    if x % 2 == 0:
        print(x, '- четное число')
    else:
        print(x, '- нечетное число')
    x = x - 1

7 - нечетное число
6 - четное число
5 - нечетное число
4 - четное число
3 - нечетное число
2 - четное число
1 - нечетное число

In [72]:
# будем запрашивать целые числа до тех пор, пока не будет введен 0 и выведем сумму полученных чисел
sum_ = 0
a = ''
while a != 0:
    a = int(input())
    sum_ += a  
sum_

ValueError: invalid literal for int() with base 10: ''

## Цикл for

In [73]:
# итерация по строкам
company_name = 'Orange'
for letter in company_name:
#    print(letter)
#    letter = letter.capitalize()
     print(letter)
print(letter)

O
r
a
n
g
e
e

In [74]:
# итерация по спискам
companies_capitalization = [
 ['Orange', 1.3],
 ['Maxisoft', 1.5],
 ['Headbook', 0.8],
 ['Nicola', 2.2]
]
for company in companies_capitalization:
#     print(company)
    print(company[0], 'capitalization is', company[1])
#     print('end of iteration')

Orange capitalization is 1.3
Maxisoft capitalization is 1.5
Headbook capitalization is 0.8
Nicola capitalization is 2.2

## break, pass, continue

In [75]:
phrase = '640Кб должно хватить для любых задач. Билл Гейтс (по легенде)'

In [76]:
for letter in phrase:
    if letter == ' ':
        break
    print(letter, end='')

640Кб

In [77]:
for letter in phrase:
    if letter == ' ':
        continue
    print(letter)
print('finish loop')

6
4
0
К
б
д
о
л
ж
н
о
х
в
а
т
и
т
ь
д
л
я
л
ю
б
ы
х
з
а
д
а
ч
.
Б
и
л
л
Г
е
й
т
с
(
п
о
л
е
г
е
н
д
е
)
finish loop

In [78]:
for letter in phrase:
    if letter == ' ':
        pass
    print(letter)
print('finish loop')

6
4
0
К
б

д
о
л
ж
н
о

х
в
а
т
и
т
ь

д
л
я

л
ю
б
ы
х

з
а
д
а
ч
.

Б
и
л
л

Г
е
й
т
с

(
п
о

л
е
г
е
н
д
е
)
finish loop

### Функции range и enumerate

In [79]:
range(10)
type(range(10))

range

In [80]:
list(range(2, 10, 5))

[2, 7]

In [81]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [82]:
# с указанием левой и правой границы
for i in range(3, 20):
    print(i)

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [83]:
# третий аргумент - шаг
for i in range(3, 20, 5):
    print(i)

3
8
13
18

In [84]:
# enumerate позволяет получить индекс каждого элемента
# enumerate([1, 2, 3, 4, 5])
list(enumerate([1, 2, 3, 4, 5]))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)]

In [85]:
companies_capitalization = [
 ['Orange', 1.3],
 ['Maxisoft', 1.5],
 ['Headbook', 0.8],
 ['Nicola', 2.2]
]
for i, company in enumerate(companies_capitalization):
    print(i+1, company[0], 'capitalization is', company[1])

1 Orange capitalization is 1.3
2 Maxisoft capitalization is 1.5
3 Headbook capitalization is 0.8
4 Nicola capitalization is 2.2

## Попрактикуемся

Имеется структура данных cook_book, в которой хранится информация об ингредиентах блюд и их количестве в расчете на одну порцию и переменная, в которой хранится количество людей, на которых необходимо приготовить данные блюда:

In [86]:
cook_book = [
  ['салат',
      [
        ['картофель', 100, 'гр.'],
        ['морковь', 50, 'гр.'],
        ['огурцы', 50, 'гр.'],
        ['горошек', 30, 'гр.'],
        ['майонез', 70, 'мл.'],
      ]
  ],
  ['пицца',  
      [
        ['сыр', 50, 'гр.'],
        ['томаты', 50, 'гр.'],
        ['тесто', 100, 'гр.'],
        ['бекон', 30, 'гр.'],
        ['колбаса', 30, 'гр.'],
        ['грибы', 20, 'гр.'],
      ],
  ],
  ['фруктовый десерт',
      [
        ['хурма', 60, 'гр.'],
        ['киви', 60, 'гр.'],
        ['творог', 60, 'гр.'],
        ['сахар', 10, 'гр.'],
        ['мед', 50, 'мл.'],  
      ]
  ]
]

In [87]:
person = 5

Необходимо вывести пользователю список покупок необходимого количества ингредиентов для приготовления блюд на определенное число персон в следующем виде:

Салат:  
картофель, 500гр.  
морковь, 250гр.  
огурцы, 250гр.  
горошек, 150гр.  
майонез, 350мл.  

Пицца:  
сыр, 250гр.  
томаты, 250гр.  
тесто, 500гр.  
бекон, 150гр.  
колбаса, 150гр.  
грибы, 100гр.  

Фруктовый десерт:  
хурма, 300гр.  
киви, 300гр.  
творог, 300гр.  
сахар, 50гр.  
мед, 250мл.

In [88]:
for i in range(len(cook_book)):
    print(cook_book[i][0],':', sep = '')
    for elem in cook_book[i][1]:
        print(elem[0] + ', ', elem[1] * person, elem[2], sep = '')
    print()

салат:
картофель, 500гр.
морковь, 250гр.
огурцы, 250гр.
горошек, 150гр.
майонез, 350мл.

пицца:
сыр, 250гр.
томаты, 250гр.
тесто, 500гр.
бекон, 150гр.
колбаса, 150гр.
грибы, 100гр.

фруктовый десерт:
хурма, 300гр.
киви, 300гр.
творог, 300гр.
сахар, 50гр.
мед, 250мл.

## List comprehension

In [89]:
# Дана последовательность чисел. Мы хотим оставить только те, что делятся на 5
sequence = range(0, 40, 3)
list(sequence)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39]

In [90]:
# решение в лоб
for num in sequence:
    if num % 5 == 0:
        print(num)

0
15
30

In [91]:
# если хотим получить отфильтрованный лист, то будет даже так
filtered_sequence = []

for num in sequence:
    if num % 5 == 0:
        filtered_sequence.append(num)

print(filtered_sequence)

[0, 15, 30]

In [92]:
[num for num in sequence if num % 5 == 0]

[0, 15, 30]

In [93]:
[w for w in sequence if w % 5 == 0]

[0, 15, 30]

In [94]:
# с list comprehension получается покороче

[x**2 for x in sequence if x % 5 == 0]

[0, 225, 900]

Пример вычисления метрики из набора списков. Столбцы в каждой строке:
- дата
- номер счетчика
- количество визитов

Найдем среднее количество визитов по нашим данным

In [95]:
api_response = [
    ['2017-12-26', '777', 184],
    ['2017-12-27', '111', 146],
    ['2017-12-28', '777', 98],
    ['2017-12-29', '777', 206],
    ['2017-12-30', '111', 254],
    ['2017-12-31', '777', 89],
    ['2018-01-01', '111', 54],
    ['2018-01-02', '777', 68],
    ['2018-01-03', '777', 74],
    ['2018-01-04', '111', 89],
    ['2018-01-05', '777', 104],
    ['2018-01-06', '777', 99],
    ['2018-01-07', '777', 145],
    ['2018-01-08', '111', 184],
]

In [96]:
for element in api_response:
    print(element[2])

184
146
98
206
254
89
54
68
74
89
104
99
145
184

In [97]:
sum([x[2] for x in api_response])/len(api_response)

128.14285714285714

## Попрактикуемся

Имеется поток данных о ценах товаров (считайте, что цена всегда больше 0). Необходимо написать алгоритм определения минимального четного числа в этом потоке.

In [98]:
# sys_stdin сейчас просто название переменной
sys_stdin = [78, 68, 484, 3, 254, 90, 143, 78, 43, 42, 3053, 473, 5, 8593, 16, 3, 1454, 37, 96, 8547]

In [100]:
min([x for x in sys_stdin if x % 2 == 0])

16

## Множества (set)
Набор неповторяющихся элементов в случайном порядке

In [101]:
data_scientist_skills = set(['Python', 'R', 'SQL', 'Tableau', 'SAS', 'Git'])
data_engineer_skills = set(['Python', 'Java', 'Scala', 'Git', 'SQL', 'Hadoop'])

In [102]:
# логическое ИЛИ – что нужно знать data-scientst, который по совместительству data-engineer
print(data_scientist_skills.union(data_engineer_skills))
print(data_scientist_skills | data_engineer_skills)

{'Python', 'Tableau', 'R', 'Git', 'SAS', 'Scala', 'SQL', 'Java', 'Hadoop'}
{'Python', 'Tableau', 'R', 'Git', 'SAS', 'Scala', 'SQL', 'Java', 'Hadoop'}

In [103]:
# логическое И – что нужно знать и data-scientist и data-engineer
print(data_scientist_skills.intersection(data_engineer_skills))
print(data_scientist_skills & data_engineer_skills)

{'Python', 'Git', 'SQL'}
{'Python', 'Git', 'SQL'}

In [104]:
# разность множеств – что знает data-scientist, но не знает data-engineer (и наоборот)
# print(data_scientist_skills.difference(data_engineer_skills))
# print(data_scientist_skills - data_engineer_skills)
print(data_engineer_skills.difference(data_scientist_skills))
print(data_engineer_skills - data_scientist_skills)

{'Java', 'Hadoop', 'Scala'}
{'Java', 'Hadoop', 'Scala'}

In [105]:
# симметричная разность множеств – что такого знают data-scientist и data-engineer, чего не знают они оба
# print(data_scientist_skills.symmetric_difference(data_engineer_skills))
# print(data_scientist_skills ^ data_engineer_skills)
print(data_engineer_skills.symmetric_difference(data_scientist_skills))
print(data_engineer_skills ^ data_scientist_skills)

{'Tableau', 'R', 'Java', 'Hadoop', 'SAS', 'Scala'}
{'Tableau', 'R', 'Java', 'Hadoop', 'SAS', 'Scala'}

In [106]:
# Из списка можно убрать все повторения просто обратив его в set!

# Словари

In [107]:
salaries = {
    'John': 1200,
    'Mary': 500,
    'Steven': 1000,
    'Liza': 1500
}

In [108]:
# обращение к элементу словаря
salaries['John']

1200

In [109]:
# удаляем элемент из словаря
del(salaries['Liza'])
salaries

{'John': 1200, 'Mary': 500, 'Steven': 1000}

In [110]:
# добавляем элемент в словарь
salaries['James'] = 2000
salaries

{'John': 1200, 'Mary': 500, 'Steven': 1000, 'James': 2000}

In [111]:
# изменяем значение по ключу
salaries['Mary'] = 2000
salaries

{'John': 1200, 'Mary': 2000, 'Steven': 1000, 'James': 2000}

In [112]:
# безопасно получаем значение по ключу
salaries['Oleg']
# salaries.get('Oleg', 'Not Found')
salaries.get('Mary', 'Not Found')

KeyError: 'Oleg'

In [113]:
# проверка на наличие ключа в словаре
recruit = 'Amanda'

if recruit in salaries:
    print('Значение для ключа уже существует')
else:
    print('Добавляю новый ключ')
    salaries[recruit] = 2200

print(salaries)

Добавляю новый ключ
{'John': 1200, 'Mary': 2000, 'Steven': 1000, 'James': 2000, 'Amanda': 2200}

In [114]:
# Можно использовать метод setdefault
# setdefault не изменяет значение, если ключ уже был в словаре

salaries.setdefault('Mary', 3000)
salaries
# salaries.setdefault('Paul', 3000)
# salaries

{'John': 1200, 'Mary': 2000, 'Steven': 1000, 'James': 2000, 'Amanda': 2200}

In [115]:
# перейдем к более сложному словарю
staff_dict = {
    'Robert': {'salary': 800, 'bonus': 200}, 
    'Jane': {'salary': 200, 'bonus': 300}, 
    'Liza': {'salary': 1300, 'bonus': 200}, 
    'Richard': {'salary': 500, 'bonus': 1200}
}

In [116]:
staff_dict['Robert']['salary']

800

In [117]:
staff_dict['Oleg'] = {'salary': 1000000, 'bonus': 300}
staff_dict

{'Robert': {'salary': 800, 'bonus': 200},
 'Jane': {'salary': 200, 'bonus': 300},
 'Liza': {'salary': 1300, 'bonus': 200},
 'Richard': {'salary': 500, 'bonus': 1200},
 'Oleg': {'salary': 1000000, 'bonus': 300}}

In [118]:
# получаем только ключи/значения из словаря (очень пригодиться в циклах)
# print(staff_dict.keys())
# print(staff_dict.values())
print(staff_dict.items())

# print(list(staff_dict.keys()))
# print(list(staff_dict.values()))
print(list(staff_dict.items()))

dict_items([('Robert', {'salary': 800, 'bonus': 200}), ('Jane', {'salary': 200, 'bonus': 300}), ('Liza', {'salary': 1300, 'bonus': 200}), ('Richard', {'salary': 500, 'bonus': 1200}), ('Oleg', {'salary': 1000000, 'bonus': 300})])
[('Robert', {'salary': 800, 'bonus': 200}), ('Jane', {'salary': 200, 'bonus': 300}), ('Liza', {'salary': 1300, 'bonus': 200}), ('Richard', {'salary': 500, 'bonus': 1200}), ('Oleg', {'salary': 1000000, 'bonus': 300})]

In [119]:
# итерация по словарям
# так бы было без цикла
print("Robert's salary:", staff_dict['Robert']['salary'])
print("Jane's salary:", staff_dict['Jane']['salary'])
print("Richard's salary:", staff_dict['Richard']['salary'])

Robert's salary: 800
Jane's salary: 200
Richard's salary: 500

In [120]:
for person in staff_dict:
    print(person)

Robert
Jane
Liza
Richard
Oleg

In [121]:
for key in staff_dict.keys():
    print(key)

Robert
Jane
Liza
Richard
Oleg

In [122]:
for value in staff_dict.values():
    print(value)

{'salary': 800, 'bonus': 200}
{'salary': 200, 'bonus': 300}
{'salary': 1300, 'bonus': 200}
{'salary': 500, 'bonus': 1200}
{'salary': 1000000, 'bonus': 300}

In [123]:
for key, value in staff_dict.items():
    print(key, value)

Robert {'salary': 800, 'bonus': 200}
Jane {'salary': 200, 'bonus': 300}
Liza {'salary': 1300, 'bonus': 200}
Richard {'salary': 500, 'bonus': 1200}
Oleg {'salary': 1000000, 'bonus': 300}

In [124]:
for i, person in enumerate(staff_dict):
    print(i+1, person)

1 Robert
2 Jane
3 Liza
4 Richard
5 Oleg

In [125]:
# используем цикл
for person, info in staff_dict.items():
#     print(person, info)
    print(person, "'s salary: ", info['salary'], sep='')

Robert's salary: 800
Jane's salary: 200
Liza's salary: 1300
Richard's salary: 500
Oleg's salary: 1000000

In [126]:
# добавим уровень з/п
for person, info in staff_dict.items():
#     print(person)
    if info['salary'] > 1000:
        info['status'] = 'above average'
    else:
        info['status'] = 'below average'
#     print(f"{person}'s salary: {info['salary']} ({status})")

staff_dict

{'Robert': {'salary': 800, 'bonus': 200, 'status': 'below average'},
 'Jane': {'salary': 200, 'bonus': 300, 'status': 'below average'},
 'Liza': {'salary': 1300, 'bonus': 200, 'status': 'above average'},
 'Richard': {'salary': 500, 'bonus': 1200, 'status': 'below average'},
 'Oleg': {'salary': 1000000, 'bonus': 300, 'status': 'above average'}}

In [129]:
# функция zip
categories = ['Еда', 'Авто', 'Политика', '346346']
audience = [100, 200, 300]

categories_dict = dict(zip(categories, audience))
print(categories_dict)

{'Еда': 100, 'Авто': 200, 'Политика': 300}

## Попрактикуемся
Для каждого источника посчитайте ROI (revenue / cost - 1)

In [130]:
results = {
    'vk': {'revenue': 103, 'cost': 98},
    'yandex': {'revenue': 179, 'cost': 153},
    'facebook': {'revenue': 103, 'cost': 110},
    'adwords': {'revenue': 35, 'cost': 34},
    'twitter': {'revenue': 11, 'cost': 24},
}

In [140]:
print(''.join(str for str in [name + ': ' + str(value['revenue']/value['cost'] - 1) + '\n' for name, value in results.items()]))

vk: 0.05102040816326525
yandex: 0.16993464052287588
facebook: -0.0636363636363636
adwords: 0.02941176470588225
twitter: -0.5416666666666667

## Dict comprehension
Похоже на  list comprehension

In [1]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [2]:
{n: n**2 for n in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [3]:
results = [('date', '2018-01-01'), ('counter', '777'), ('visits', 154)]

In [4]:
{metric: value for (metric, value) in results}

{'date': '2018-01-01', 'counter': '777', 'visits': 154}

In [5]:
cook_book = {
  'салат': [
     {'ingridient_name': 'сыр', 'quantity': 50, 'measure': 'гр'},
     {'ingridient_name': 'томаты', 'quantity': 20, 'measure': 'гр'},
     {'ingridient_name': 'огурцы', 'quantity': 20, 'measure': 'гр'},
     {'ingridient_name': 'маслины', 'quantity': 10, 'measure': 'гр'},
     {'ingridient_name': 'оливковое масло', 'quantity': 20, 'measure': 'мл'},
     {'ingridient_name': 'салат', 'quantity': 10, 'measure': 'гр'},
     {'ingridient_name': 'перец', 'quantity': 20, 'measure': 'гр'}
    ],
  'пицца': [
     {'ingridient_name': 'сыр', 'quantity': 20, 'measure': 'гр'},
     {'ingridient_name': 'колбаса', 'quantity': 30, 'measure': 'гр'},
     {'ingridient_name': 'бекон', 'quantity': 30, 'measure': 'гр'},
     {'ingridient_name': 'оливки', 'quantity': 10, 'measure': 'гр'},
     {'ingridient_name': 'томаты', 'quantity': 20, 'measure': 'гр'},
     {'ingridient_name': 'тесто', 'quantity': 100, 'measure': 'гр'},   
    ],
  'лимонад': [
     {'ingridient_name': 'лимон', 'quantity': 1, 'measure': 'шт'},
     {'ingridient_name': 'вода', 'quantity': 200, 'measure': 'мл'},
     {'ingridient_name': 'сахар', 'quantity': 10, 'measure': 'гр'},
     {'ingridient_name': 'лайм', 'quantity': 20, 'measure': 'гр'},    
    ]
}